# Creating and connecting to a MySQL Database

### Following tutorial at https://www.freecodecamp.org/news/connect-python-with-sql/

In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [2]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [3]:
connection = create_server_connection("localhost", "root", "ROOT33qq!")

MySQL Database connection successful

In [4]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [5]:
create_database_query = "CREATE DATABASE dash_log"
create_database(connection, create_database_query)

Database created successfully

In [6]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [7]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [14]:
create_log_table = """
CREATE TABLE log (
  log_id INT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  species VARCHAR(40) NOT NULL,
  date_time DATETIME DEFAULT CURRENT_TIMESTAMP
  );
  """

In [15]:
connection = create_db_connection("localhost", "root", "ROOT33qq!", "dash_log")

MySQL Database connection successful

In [16]:
execute_query(connection, create_log_table)

Query successful